*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    position: relative;
}
.table{
    border: 4px solid;
    width: 80vw;
    position: relative;
    top:10%;
    left: 10%;
}
.row{
    width:50vw ;
    height: 5vh;
    text-align: center;
    font-size: 1.5rem;
}
.table .row:nth-child(odd)>.column:nth-child(even){
    background-color: blanchedalmond; 
}
.table .row:nth-child(odd)>.column:nth-child(odd){
    background-color: #808000;
}
.table .row:nth-child(even)>.column:nth-child(odd){
    background-color:blanchedalmond;
}
.table .row:nth-child(even)>.column:nth-child(even){
    background-color: #808000;
}
@media screen and (width >= 600px) {
    .table{
        height: 80vh;
        width: 50vw;
    }
}